/*
* Root Variables
*/
:root {
    --white-color: #ffffff;
    --black-color: #151515;
    --beige-color: #FAF2E7;
    --orange-color: #DC7F11;
    --light-gray-color: #999999;
    --gray-color: #2B2B2B;

    --font-size: 62.5%;
    --font-weight: 600;
}

/*
* Main Styles
*/
html {
    scroll-behavior: smooth;
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    color: var(--gray-color);
    font-family: "Inter", sans-serif;
}

body {
    font-size: 1.4rem;
    background-color: var(--white-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--black-color);
}

.container {
    max-width: 145rem;
    margin: 0 auto;
    padding: 0rem 2.5rem;
}

.btn {
    background-color: var(--orange-color);
    color: var(--beige-color);
    padding: 1.5rem 2.5rem;
    border-radius: 1rem;

    transition: all 0.3s ease-in-out;
}

.btn:hover {
    background-color: var(--beige-color);
    color: var(--orange-color);
}

.col-3 {
    grid-template-columns: repeat(3, 1fr) !important;
}

.outline-btn {
    padding: 0.5rem 1rem;
    border: 1px solid var(--orange-color);
    border-radius: 0.5rem;
    color: var(--orange-color);

    transition: all 0.3s ease-in-out;
}

.outline-btn:hover {
    background-color: var(--orange-color);
    color: var(--beige-color);
}

/*
* HOME PAGE
*/

/*
* Header Styles
*/
.header {
    padding-top: 10rem;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.primary-heading {
    font-size: 4.5rem;
    font-weight: 700;
}

.theme-btn {
    background-color: transparent;
    padding: 1rem 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

    transition: all 0.2s ease-in-out;
}

.theme-btn:hover {
    background-color: var(--beige-color);
}

.fa-moon {
    font-size: 2.5rem;

    transition: all 0.2s ease-in;
}

.theme-btn:hover .fa-moon {
    color: var(--orange-color);
}

.signature-text {
    color: var(--light-gray-color);
    font-size: 1.6rem;
}

/*
* Cards Section
*/
.cards {
    padding: 3rem 0;
}

.cards-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
}

.card-item {
    padding: 1.5rem;
    padding-top: 3rem;
    border-radius: 1rem;
    -webkit-box-shadow: 0px 0px 12px 6px rgba(34, 60, 80, 0.15);
    -moz-box-shadow: 0px 0px 12px 6px rgba(34, 60, 80, 0.15);
    box-shadow: 0px 0px 12px 6px rgba(34, 60, 80, 0.15);
    cursor: pointer;
    color: var(--gray-color);

    transition: all 0.3s ease-in-out;
}

.card-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

.card-item:not(.add) .icon-wrapper {
    background-color: var(--beige-color);
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-item:not(.add) .fa-solid {
    color: var(--orange-color);
    font-size: 5rem;

    transition: all 0.2s ease-in;
}

.secondary-heading {
    font-size: 2.2rem;
    font-weight: 600;
    margin-top: 1rem;

    transition: all 0.3s ease-in-out;
}

.card-item:not(.add) .secondary-heading {
    color: var(--gray-color);
}

.card-item:not(.add):hover .fa-solid {
    font-size: 6rem;
}

.card-item:not(.add) .card-results {
    transition: all 0.3s ease-in-out;
}

.card-item:not(.add):hover {
    background-color: var(--orange-color);
    transform: scale(1.1);
}

.card-item:not(.add):hover .secondary-heading {
    color: var(--white-color);
}

.card-item:not(.add):hover .card-results {
    color: var(--white-color);
}

.card-item.add {
    background-color: var(--orange-color);
}

.card-item.add .fa-solid {
    color: var(--white-color);
    font-size: 10rem;

    transition: all 0.3s ease-in-out;
}

.card-item.add .secondary-heading {
    color: var(--white-color);
}

.card-item.add:hover {
    transform: scale(1.1);
}

.card-item.add:hover .fa-solid {
    font-size: 11rem;
}

/*
* SINGLE CATEGORY PAGE
*/

/*
* Header Styles
*/

.back-btn {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    color: var(--orange-color);
    font-size: 1.8rem;
    margin-bottom: 2rem;

    transition: all 0.3s ease-in-out;
}

.back-btn:hover {
    color: var(--gray-color);
    transform: translate(-5px, 0);
}

/*
* Categories Styles
*/

.categories-list {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 2rem;
    margin-top: 3rem;
}

.category-btn {
    color: var(--light-gray-color);
    background: transparent;
    padding: 1rem 3rem;
    border-radius: 1rem;

    transition: all 0.3s ease-in-out;
}

.category-btn:not(.active):hover {
    color: var(--orange-color);
    background-color: var(--beige-color);
}

.category-btn.active {
    color: var(--orange-color);
    background-color: var(--beige-color);
}

/*
* Cards Styles
*/

.card-task {
    padding: 2rem;
    border-radius: 1rem;
    -webkit-box-shadow: 0px 0px 12px 6px rgba(34, 60, 80, 0.07);
    -moz-box-shadow: 0px 0px 12px 6px rgba(34, 60, 80, 0.07);
    box-shadow: 0px 0px 12px 6px rgba(34, 60, 80, 0.07);
}

.card-header {
    border-bottom: 0.1rem solid rgba(34, 60, 80, 0.2);
    margin-bottom: 1.5rem;
}

.card-header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-checkbox {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.card-checkbox input[type="checkbox"] {
    display: none;
}

.card-checkbox input[type="checkbox"]+label {
    display: block;
    position: relative;
    padding-left: 3rem;
    cursor: pointer;
    font-size: 1.8rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.card-checkbox input[type="checkbox"]+label::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    width: 2rem;
    height: 2rem;
    border-radius: 0.5rem;
    border: 0.1rem solid var(--light-gray-color);
    background-color: var(--white-color);
}

.card-checkbox input[type="checkbox"]:checked+label::before {
    background-color: var(--orange-color);
    border-color: var(--orange-color);
}

.card-checkbox .secondary-heading {
    margin: 0;
}

.menu-btn {
    color: var(--gray-color);
    font-size: 1.6rem;

    transition: all 0.3s ease-in-out;
}

.menu-btn:hover {
    color: var(--orange-color);
}

.card-task .card-results {
    font-size: 1.2rem;
    color: var(--gray-color);
    text-align: end;
    margin-bottom: 1rem;
}

.card-body {
    display: flex;
    flex-direction: column;
}

.card-body__wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
}

.task-checkbox input[type="checkbox"] {
    display: none;
}

.task-checkbox input[type="checkbox"]+label {
    display: block;
    position: relative;
    padding-left: 2.5rem;
    cursor: pointer;
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--gray-color);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-left: 2rem;
}

.task-checkbox input[type="checkbox"]+label::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 0.4rem;
    border: 0.1rem solid var(--light-gray-color);
    background-color: var(--white-color);
}

.task-checkbox input[type="checkbox"]:checked+label::before {
    background-color: var(--orange-color);
    border-color: var(--orange-color);
}

.card-body .outline-btn {
    align-self: flex-end;
}

/*
* Pagination Styles
*/

.pagination {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 2.5rem;

    margin-bottom: 3rem;
}

.pagination-prev,
.pagination-next {
    font-size: 1.4rem;
    color: var(--gray-color);

    transition: all 0.3s ease-in-out;
}

.pagination-btn {
    color: var(--light-gray-color);
    font-size: 1.6rem;

    transition: all 0.3s ease-in-out;
}

.pagination-btn:hover,
.pagination-prev:not(.disabled):hover,
.pagination-next:not(.disabled):hover {
    color: var(--orange-color);
    transform: scale(1.2);
}


.pagination-prev.disabled {
    color: var(--orange-color);
    opacity: 0.5;
    pointer-events: none;
    font-size: 1.2rem;
}

.pagination-btn.active {
    color: var(--orange-color);
}